{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_field %}

{% block content %}
{% if user_type == "MCHT" or user_type == "ADMIN" %}
    <h1>{{ store.store_name }}</h1>
    <h3>Submit Product Information</h3>
    <p>Upload CSV of products for our developers to update</p>
    <div id="order-status">{{ STATUS|safe }}</div>
    <div id="product-upload-container">
    <form id="product-upload-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="product-csv">Bulk Update of Products (CSV)</label>
        <input type="file" accept="/text/csv" name="product-csv" required="required">
        <button id="submit-product-csv" name="submit-product-csv" value="{{ user.id }}">Upload CSV</button>
    </form>
    </div>
{% else %}
    {% if user_type == "CUST" %}
        <meta http-equiv="refresh" content="6; /" />
    {% else %}
        <meta http-equiv="refresh" content="6; /shop/" />
    {% endif %}
    <h1>Hello {{ user.first_name }}</h1>
    <h3>Bad News...</h3>
    <p>You do not have permission to view this page.</p>
    <p>If you feel this is in error, please contact {{ store.store_name }}</p>
    <p>You can also reach out to <a id="usr-mgmt-suprt-contact" href="/support/">SUPPORT</a> if you believe it is a technical issue.</p>
{% endif %}
    <script>orderStatusFade();</script>
{% endblock %}